## folders
.ipynb_checkpoints/

## files
*.DS_Store
*.Rhistory
Datasets.pdf
DatasetBristol.pdf
DatasetSouthWest.pdf
DatasetEngland.pdf
ModelSouthWest.pdf
ModelBristol.pdf
ModelEngland.pdf
my_kable_test.pdf
Questions.pdf
