## folders
.ipynb_checkpoints/

## files
*.DS_Store
*.Rhistory
*.log
Datasets.pdf
DatasetBristol.pdf
DatasetSouthWest.pdf
DatasetEngland.pdf
ML.pdf
ML_Bristol.pdf
Model_England.pdf
my_kable_test.pdf
Questions.pdf
